<nav  class="navbar navbar-expand-lg py-4 fixed-top">
  <div class="container">
    <a class="navbar-brand text-uppercase fw-bolder fs-2 text-white " routerLink="home">Start
      Framework</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2 px-2">
          <a class="nav-link active text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" aria-current="page"
            routerLink="about" routerLinkActive="active rounded-2">About</a>
        </li>
        <li class="nav-item mx-2 px-2">
          <a class="nav-link active text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" aria-current="page"
            routerLink="portfolio" routerLinkActive="active rounded-2">Portfolio</a>
        </li>
        <li class="nav-item mx-2 px-2">
          <a class="nav-link active text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" aria-current="page"
            routerLink="contact" routerLinkActive="active rounded-2">contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>